{% extends 'base.html' %}
{% block title %}CATEGORY FORM{% endblock %}
{% block content %}
    <div class="container">
        <div class="">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="">
                    <h2 class="categoryform__main">
                        {% if action == "create" %}
                        Редактирование категории
                        {% else %}
                        Изменить категорию
                        {% endif %}
                    </h2>
                    <div class="wrap">
                        {% for field in form %}
                            {{field.label}}
                            {{field}}
                        {% endfor %}
                        <button class="category__button" type="submit">
                            {% if action == "create" %}
                            Создать
                            {% else %}
                            Сохранить
                            {% endif %}
                        </button>
                    </div>
                </fieldset>
                
            </form>
        </div>
    </div>
{% endblock content %}
